@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background: url('../img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container{
    /* border: 2px solid yellow; */
    color: white;
    position: absolute;
    top: 25%;
    left: 40%;
}

.container h1{
    font-family: 'Baloo Bhaina 2', cursive;
    width: 50%;
    display: inline-block;
    font-size: 35px;
    border-bottom: 5px solid purple;
    margin-bottom: 15px;
}

.box{
    width: 100%; 
    margin: 22px 0px;
    border-bottom: 2px solid purple;
}

.box input{  
    background: none;
    width: 75%;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline:none;
    color: white;
}

.btn{
    font-family: 'Baloo Bhaina 2', cursive;
    color: white;
    cursor: pointer;
    outline: none; 
    margin: 12px 0;
    padding: 4px 21px;
    border: 2px solid purple;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;
    
}

.box i{ 
    width: 25px; 
    text-align: center;
}

.btn:hover{
    opacity: 0.8;
    color: purple; 
    background: white; 
    
}

@media screen and (max-width:360px) {
    .container{
        left: 10%;
    }
}
@media (min-width:360px) and (max-width:600px) {
    .container{
        left: 20%;
    }
}